<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>TodoApp</title>
</head>
<body>
    <div style="margin-top: 100px;" class="container">
        <h3>Todo List</h3>
        <hr>
        <form action="/add" method="post">
            <div class="form-group">
                <label for="formGroupExampleInput"> ToDo Başlık</label>
                <input type="text" class="form-control" name="title" id="formGroupExampleInput" placeholder="ToDo Giriniz..."><br>
                <button type="submit" class="btn btn-danger">Ekle</button> </button>
            </div>
        {% if todos==[]%}
        <div class="alert alert-warning" role="alert">
            Herhangi bir ToDo'nuz Bulunmuyor...
        </div>
        {% else %}
        <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Todo Başlık</th>
            <th scope="col">Todo Durum</th>
            <th scope="col">Durum Güncelle</th>
            <th scope="col">Todo Sil</th>

          </tr>
        </thead>
        <tbody>
            {% for Todo in todos  %}
            <tr>
                <th scope="row">{{Todo.id}}</th>
                <td>{{Todo.title}}</td>
                {% if Todo.complete==False %}
                <td>Tamamlanmadı</td>
                
                {% else %},
                <td>Tamamlandı</td>

                {% endif %}
                <td><a href="/complete/{{Todo.id}}" class="btn btn-danger">Tamamla</td>
                <td><a href="/delete/{{Todo.id}}" class="btn btn-danger">Sil</td>

            </tr>
            
            {% endfor %}
        </tbody>
      </table>
        {% endif %}

        </form>
        <hr>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>